Source: stsbl-iserv-devtools
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: iserv-buildtools
Standards-Version: 4.5.0

Package: stsbl-iserv-devtools
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-buildtools,
  iserv-dev,
  iserv-portal,
  liblist-moreutils-perl,
# for lintian
  make | build-essential | dpkg-dev,
  nodejs,
  twig2php,
Provides: dh-sequence-stsbl,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: Stadtteilschule Blankenese: IServ-Entwicklungswerkzeuge
 Enthält die von der Stadtteilschule Blankenese zur IServ-Entwicklung
 verwendeten Tools und Skripte.
Tag: suite::iserv, implemented-in::shell
